:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lifestyle {
  display: flex;
  flex-wrap: wrap;

  h1 {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  &__blocks {
    flex: 0 0 480px;
  }

  &__legends {
    flex: 0 0 150px;
    margin-left: 128px;
  }
}

.blocks {
  display: flex;
  width: 480px;
  flex-flow: wrap;

  &__item {
    flex: 0 0 32px;
    height: 32px;
    border: 1px solid white;
  }
}

.legends {
  .legend {
    display: flex;
    height: 34px;
    margin-bottom: 2px;
    align-items: center;

    &__color {
      flex: 0 0 24px;
      height: 24px;
      text-align: center;
      align-items: center;
      line-height: 24px;
      color: white;
    }

    &__type {
      margin-left: 12px;
    }
  }
}