<div class="lifestyle">
  <h1>{{totalBlocks}} Blocks a Day</h1>

  <h2>{{busyBlocks}} of {{totalBlocks}}</h2>

  <h3>
    Most people sleep about seven or eight hours a night. That leaves 16 or 17 hours awake each day. Or about 1,000 minutes.

Let’s think about those 1,000 minutes as 100 10-minute blocks. That’s what you wake up with every day.
    Is 10 minutes of meditation a day important enough to dedicate a block to it? Reading 20 minutes a night allows you to read 15 additional books a year—is that worth two blocks?
  </h3>

  <div class="lifestyle__blocks blocks">
    <ng-template ngFor let-activity
                 [ngForOf]="activities"
                 let-i="index">
      <div class="blocks__item"
           [style.background]="activity.color"
          *ngFor="let block of [].constructor(activity.blocksCount); index as i;">
      </div>
    </ng-template>
  </div>

  <div class="lifestyle__legends legends">
    <ng-template ngFor let-activity
                 [ngForOf]="activities"
                 let-i="index">
      <div class="legend">
        <div class="legend__color"
             [style.background]="activity.color">
          {{activity.blocksCount}}
        </div>
         <div class="legend__type">
           {{activity.type}}
         </div>
      </div>
    </ng-template>
  </div>
</div>