<div class="lifestyle">
  <h1>{{totalBlocks}} Blocks a Day</h1>

  <h2>{{busyBlocks}} of {{totalBlocks}}</h2>

  <div class="lifestyle__blocks blocks">
    <ng-template ngFor let-activity
                 [ngForOf]="activities"
                 let-i="index">
      <div class="blocks__item"
           [style.background]="activity.color"
          *ngFor="let block of [].constructor(activity.blocksCount); index as i;">
      </div>
    </ng-template>
  </div>

  <div class="lifestyle__legends legends">
    <ng-template ngFor let-activity
                 [ngForOf]="activities"
                 let-i="index">
      <div class="legend">
        <div class="legend__color"
             [style.background]="activity.color">
          {{activity.blocksCount}}
        </div>
         <div class="legend__type">
           {{activity.type}}
         </div>
      </div>
    </ng-template>
  </div>
</div>